@import "tailwindcss";

@theme {
    --color-accent: #282e54;
    --color-back: #f9eed2;
    --color-accentfg: #f9eed2;
    --color-accentlight: #404880;
    --color-accentlighter: #626cb3;
    --color-accentdisabled: #8d93b8;
}